body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

p{
  font-family: "Sora", sans-serif;
}

.card{
  width: 368px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 16px;
}

#image{
  width: 100%;
  border-radius: 10px;
}

.content-box{
  width: 100%;
}

#tag{
  font-size: 0.625rem;
  font-weight: 700;
  display: inline-block;
  background-color: #F2EAFD;
  color: #7C19EE;
  padding: 6px 16px 6px 16px;
  width: auto;
  margin: 16px 0px 6px 0px;
  border-radius: 16px;
}

#title{
  font-size: 1.125rem;
  font-weight: 650;
  margin-bottom: 0;
}

#body{
  font-size: 0.875rem;
  font-weight: 300;
  color: #394150;
  margin-top: 6px;
}

#line{
  background-color: #E5EAF0;
  height: 2px;
  width: calc(100% + 32px);
  margin: 0 -16px;
}

#author{
  font-size: 0.75rem;
  font-weight: 300;
  margin-bottom: 5px;
  margin-top: 16px;
}